type: compte_rendu_medical
lang: fr
source: compte-rendu de laboratoire d'analyses (pdftk/iText)
weight: 1.0
---
{{pad:90-100}}{{ORG:lab|form=caps_tirets|famille=sante}}
{{pad:100-110}}Site de {{ADDR:lab_addr|form=city}}
{{pad:88-92}}{{ADDR:lab_addr|form=street}}
{{pad:83-87}}{{ADDR:lab_addr|form=citycode}}
{{pad:61-65}}Téléphone : {{phone:lab|form=dotted}} - Fax : {{phone:lab_fax|form=dotted}}
{{pad:84-88}}{{email:lab|from=lab}}
{{pad:91-95}}FINESS ET {{decoy:id_secteur}}
{{pad:50-54}}Horaires d'ouverture sur notre site internet : www.{{decoy:domaine}}.fr

{{pad:48-52}}{{PER:legal_guardian|form=nom_naissance}}
{{pad:48-52}}{{ADDR:patient_addr|form=street_caps}}
{{pad:48-52}}{{ADDR:patient_addr|form=citycode_caps}}
{{pad:48-52}}FRANCE

Patient:
Enf(G) {{PER:patient|form=nom_prenom_etiquette}}
Né(e) {{PER:patient|form=nom_prenom_caps}}
Date de naissance : {{date:birth|format=slash}} ({{decoy:age}}){{pad:12-16}}Sexe: M
{{ADDR:patient_addr|form=street_caps}}
{{ADDR:patient_addr|form=citycode_dash}}
Portable patient: {{phone:patient|form=dotted}}
Prescrit par le {{PER:prescriber|form=titre_nom_caps}}
{{ORG:prescriber_org|form=caps|famille=sante}}
{{ADDR:prescriber_addr|form=inline_dash_caps}}

Prélevé le {{date:sample|format=slash_time}}
Enregistré le {{date:record|format=slash_time}}
Edité le {{date:edit|format=long_time}} / Compte−rendu complet
Référence {{ref:file|pattern=CS}}
{{decoy:mention}}
{{decoy:mention}}

{{pad:70-78}}Intervalle de référence{{pad:6-10}}Antériorités

{{pad:74-78}}{{decoy:titre_caps}}
{{pad:68-72}}Nature de l'échantillon : Sang

@block analyses
{{pad:1-3}}{{decoy:analyse}}{{pad:20-40}}{{amount|form=medical}}{{pad:20-30}}{{decoy:code_court}}
@end
{{LINES:6-14}}

{{pad:62-66}}{{PER:biologist|form=titre_nom}} (Biologiste){{pad:80-90}}Page 1 sur 4
{{pad:60-64}}Enf(G) {{PER:patient|form=nom_prenom_caps}} Né(e) {{PER:patient|form=nom_seul}} {{date:birth|format=slash}}

Dossier {{ref:file}} du {{date:sample|format=slash}}
{{pad:88-92}}Intervalle de référence{{pad:3-5}}Antériorités

{{LINES:4-10}}

{{pad:62-66}}{{PER:biologist|form=titre_nom}} (Biologiste){{pad:80-90}}Page 2 sur 4
{{pad:60-64}}Enf(G) {{PER:patient|form=nom_prenom_caps}} Né(e) {{PER:patient|form=nom_seul}} {{date:birth|format=slash}}
